.formularAsignare {
    display: flex;
    margin:20px;
    flex-direction: column;
    gap: 3rem;
}
.formularAsignare .p-float-label {
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    width: 20rem; 
    height: 2rem;
}
