.app {
    display: flex;
    flex-direction: row;
    height: 100vh; 
    overflow: hidden; 
  }
  
  /* Sidebar styles */
  .sidebar {
    display: flex;
    flex-direction: column; /* Stack sidebar items vertically */
    flex-shrink: 0; /* Prevent shrinking if content overflows */
    height: 100vh; /* Full viewport height */
    overflow-y: auto; /* Enable vertical scroll on sidebar */
  }
  
  .content {
    flex-grow: 1; 
    overflow-y: auto; 
  }
  
  /* Scrollbar customization */
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }