.pontaje {
    display: flex;
    margin:20px;
    flex-direction: column;
    gap: 1.5rem;
}

.tabelPontaje{
    display: flex;
    margin:20px;
    flex-direction: column;
    gap: 3rem;
}
.pontaje .p-float-label {
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    width: 20rem; 
    height: 2rem;
}

.graficPontaje{
    width: auto;
    height: min-content;
    margin: 0 auto;
}
